*====================
スマホを基本設計にする
 - 〜479px：スマートフォン縦
 - 480px〜599px：スマートフォン横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/
 
/*共通項目 */

/*html {*/
/*    height:100%;*/
/*}*/

a:link {
  color:#336699;
}

a:visited{
  color:#336699;
}

a:hover{
  color:#000000;
}

.delete_link {
    color:#336699;
    text-decoration:underline;
    cursor:pointer;
}

span:hover {
    color:#000000;
}

* {
    margin:0px;
}

body {
    font-family: 'Noto Serif JP', serif;
}

header {
    background-color:rgb(50,50,50);
    width:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    position:relative;
    height:70px;
}

main {
    padding:30px 100px 30px 30px;
    width:80%;
}

section {
   padding:10px;
}

.register_box,.login_box {
    margin:30px auto;
    background-color:#F0F0F0;
    max-width:500px;
    min-width:400px;
}

.register_form,.login_form {
    margin:50px auto;
    width:300px;
    padding:40px 0;
}

.register_heading,.login_heading {
    font-size:14px;
    border-bottom:solid 1px #DDDDDD;
    padding:3px 0;
    color:#666666;
}

.register_input,.login_input {
    margin:15px 0 20px;
    width:290px;
    padding:5px;
}

.register_button,.login_button {
    width:200px;
    background-color:#2490D0;
    font-size:15px;
    color:white;
    padding:7px 0;
    margin:20px 50px;
    border:none;
}

.login_detail {
    font-size:14px;
    color:#666666;
    text-align:center;
}

.password_reset_detail {
    font-size:14px;
    color:#666666;
}

.password_reset_heading {
    font-size:14px;
    color:#666666;
    margin:20px 0 0;
    border-bottom:solid 1px #DDDDDD;
}

.mail_submit_button {
    width:160px;
    background-color:#2490D0;
    font-size:12px;
    color:white;
    padding:5px 0;
    margin:30px 25px;
    border:none;
}

.mail_input {
    padding:5px;
    margin:15px 20px 0;
}

.alert-success {
    font-size:14px;
    color:#2490D0;
    font-weight:bold;
}

#logout {
    padding-left:5px;
    color:#FF6347;
}

#logout:hover {
    color:#CC0000;
}

.title {
  font-size:22px;
  padding:10px 40px;
  position:absolute;
  top:10px;
  left:0px;
}

.title_button > a,.top-right > a {
    text-decoration:none;
    color:white;
}

.title_button > a:hover{
    color:#CCCCCC;
}

.top-right > a:hover {
    color:#CCCCCC;
}

.register_login {
    padding:20px;
}

.container {
    height:100%;
}

.user_data_detail {
    padding:10px;
    border-bottom:solid 1px #DDDDDD;
    color:#666666;
}

.menu1 {
    background-color:#EEEEEE;
    padding:30px 0;
    height:100vh;
}

.menu_heading {
    border-bottom:thin solid black;
    margin:16px;
}

.categories,.user_ranking {
    height:200px;
}

.menu2 {
    max-width: 600px;
}

.menu2 a {
    display: block;
    text-decoration: none;
}

.label1 {
    display: block;
    padding : 10px 30px;
    line-height: 1;
    background-color:#EEEEEE;
    cursor :pointer;
    font-size:13px;
}

.menu2 > input {
    display: none;
}

.menu2 li {
    height: 0;
    font-size:13px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
    height: 30px;
    opacity: 1;
}

#links01,#links02 {
    font-size:13px;
    line-height:2;
}

.heading {
    padding:0 10px;
    border-bottom:solid 2px #D9E5FF;
    font-size: 15px;
}

.heading2 {
    padding:20px 0 3px;
    border-bottom:solid 2px #D9E5FF;
    font-size: 18px;
    margin:0 10px;
}

.content {
    padding:30px;
}

.theme_title {
    font-size:20px;
}

.post_title {
    max-width:350px;
    min-width:160px;
}
.title_box {
    min-width:300px;
    max-width:600px;
    padding:15px 10px;
    border-left:solid 8px #D9E5FF;
}

.edit_delete_box {
    padding:10px 0 0px 10px;
}


.edit_button {
    display:inline-block;
    padding-right:5px;
    font-size:13px;
}

.delete_button,.like_button {
    display:inline-block;
    font-size:13px;
}

.category_show {
    display:flex;
    flex-wrap:wrap;
}

.comments {
    padding:20px 0;
}

.back {
    font-size:14px;
}

.label2 {
    display: block;
    padding : 5px 5px;
    cursor :pointer;
    font-size:13px;
}

.checkbox {
    display:flex;
    flex-wrap:wrap;
}

.detail {
    font-size:13px;
    padding:20px 3px 10px;
    color:gray;
}

.submit_button {
    padding:0px 20px;
    margin:20px 30px 0;
    font-size:12px;
}

.theme_detail,.post_detail {
    font-size:14px;
    color:gray;
    padding:0 10px;
}

.theme_explain,.post_explain {
    width:400px;
}

.theme,.post {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    min-width:350px;
    max-width:650px;
    border-bottom:solid 1px gray;
    padding-bottom:10px;
    margin-bottom:10px;
}

.theme_index_explain,.post_index_explain {
    display:flex;
    flex-wrap:wrap;
    padding:20px;
}

.theme_name,.post_name {
    padding:10px 20px;
    max-width:500px;
}

.comment {
    display:flex;
    justify-content:flex-end;
    padding:2px 0;
    margin:10px 20px;
    width:250px;
    position:relative;
    border-bottom:dashed 1px #BBBBBB;
}

.comment_form {
    padding:0 20px 10px;
}

.comment_text {
    font-size:13px;
    padding-right:20px;
    position:absolute;
    top:0px;
    left:2px;
}

.pagination {
     text-align:center;
}

/* 〜479px：SP縦
------------------------------ */
@media screen and (max-width:478px){

.menu1 {
    display: none;
}

.title_box {
    min-width:300px;
    max-width:600px;
    padding:15px 10px;
    border-left:solid 8px #D9E5FF;
}

.theme_explain,.post_explain {
    width:400px;
}

}

 
/* 480px〜599px：SP横
------------------------------ */
@media screen and (min-width:480px) and (max-width:599px) { 
 
.menu1 {
    display: none;
}

.title_box {
    min-width:300px;
    max-width:600px;
    padding:15px 10px;
    border-left:solid 8px #D9E5FF;
}

.theme_explain,.post_explain {
    width:500px;
}

}
 
/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {

.container {
    display:flex;
}

.menu1 {
    min-width:140px;
    max-width:160px;
    width:20%;
    padding:30px 0;
    
}

.menu2 {
    display: none;
}

.title_box {
    min-width:300px;
    max-width:600px;
    padding:15px 10px;
    border-left:solid 8px #D9E5FF;
}

.theme_explain,.post_explain {
    width:500px;
}
 
}
 
/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) {
 
.container {
    display:flex;
}

.menu1 {
    min-width:140px;
    max-width:160px;
    width:20%;
    padding:30px 0;
    
}

.menu2 {
    display: none;
}

.title_box {
    min-width:300px;
    max-width:800px;
    padding:15px 10px;
    position:relative;
    border-left:solid 8px #D9E5FF;
}

.theme_explain,.post_explain {
    position:absolute;
    right:0px;
    top:0px;
    width:300px;
}

}
 
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {

.container {
    display:flex;
}

.menu1 {
    min-width:140px;
    max-width:160px;
    width:20%;
    padding:30px 0;
    
}

.menu2 {
    display: none;
}

.title_box {
    min-width:300px;
    max-width:800px;
    padding:15px 10px;
    position:relative;
    border-left:solid 8px #D9E5FF;
}

.theme_explain,.post_explain {
    position:absolute;
    right:0px;
    top:0px;
    width:300px;
}
 
}
